:root {
  --primary-color: #1400ff;
  --grey: #d5d5d5;
  --white: #fff;
  --black: #000;
  --body-bg: #f3f3f3;
  --main-font: 'lexend deca';
  --secondary-font: 'big shoulders display';
  --font-size: 16px;
  --padding: 1rem;
  --container: 1200px;
  --anime: 0.5s, ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main-color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--black);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* vertical-align: top; */
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
}

section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: grid;
  gap: 1.25rem;
  width: clamp(270px, 37.92vw, 455px);
  height: auto;
}

.field {
  position: relative;
}

input {
  width: 100%;
  height: 4rem;
  padding: 0 2.25em 0 .75em;
  font-size: 1.5rem;
  line-height: 1.16;
  border: 2px solid var(--grey);
  border-radius: 4px;
  outline: none;
}
input:not([type='submit']):focus {
  border-color: var(--primary-color);
}
input:not([type='submit']):focus + label {
  top: 0;
  font-size: 14px;
  background-color: var(--white);
}
input[type='submit'] {
  padding: .5em;
  font-size: 18px;
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
input[type='submit']:focus {
  border-color: skyblue;
}

label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0 12px;
  font-size: 18px;
  color: var(--primary-color);
  border-left-color: var(--white);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
  width: 36px;
  height: 36px;
  background-image: url('../assets/images/icons/show.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: .25;
}
.hide .eye {
  background-image: url('../assets/images/icons/hide.svg');
}

.status {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(6px, -50%);
}
.status img {
  width: 24px;
  height: 25px;
}
.error {
  color: red;
}
.success {
  color: green;
}
